absl-py==2.0.0
accelerate==0.29.2
adal==1.2.7
annotated-types==0.6.0
anyio==4.3.0
appdirs==1.4.4
argcomplete==3.3.0

arxiv==2.1.0
asgiref==3.8.1
aspose-pdf==24.3.0

atomicwrites==1.4.0
attrs==23.2.0

azure-common==1.1.28
azure-core==1.30.1
azure-graphrbac==0.61.1
azure-identity==1.16.0
azure-mgmt-authorization==4.0.0
azure-mgmt-containerregistry==10.3.0
azure-mgmt-core==1.4.0
azure-mgmt-keyvault==10.3.0
azure-mgmt-network==25.2.0
azure-mgmt-resource==23.0.1
azure-mgmt-storage==21.1.0
azure-storage-blob==12.19.1
azure-storage-file-datalake==12.14.0
azure-storage-file-share==12.15.0
azureml==0.2.7
azureml-core==1.55.0.post2

backoff==2.2.1

backports.weakref==1.0.post1
bcrypt==4.1.2
beautifulsoup4==4.12.3
bentoml==1.1.11

bitsandbytes==0.41.3.post2





boto3==1.24.53
botocore==1.34.88

Brotli==1.1.0
brotlipy==0.7.0
bs4==0.0.2
build==0.10.0

cassandra-driver==3.29.1
cassio==0.1.5
cattrs==23.1.2
certifi==2024.2.2


charset-normalizer==3.3.2
chroma-bullet==2.2.0
chroma-hnswlib==0.7.3
chroma-migrate==0.0.7
chromadb==0.4.14
circus==0.18.0
click==8.1.7
click-option-group==0.5.6
clickhouse-connect==0.6.6

clyent==1.2.2
colorama==0.4.6

coloredlogs==15.0.1







conda-repo-cli==1.0.75

conda-verify==3.4.2


constantly==15.1.0
contextlib2==21.6.0



cssselect==1.1.0
cssselect2==0.7.0
ctransformers==0.2.27
cuda-python==12.4.0


daal4py==2023.1.1

dataclasses-json==0.6.4
datasets==2.15.0

datashape==0.5.4


deepmerge==1.1.1

Deprecated==1.2.14


dirtyjson==1.0.8
distlib==0.3.8

distro==1.9.0
dnspython==2.6.1
docker==7.0.0

docstring_parser==0.16

duckdb==0.7.1
easyocr==1.7.1
einops==0.7.0

environs==9.5.0
et-xmlfile==1.1.0

extractable==1.0.1
faiss-cpu==1.7.4
Faker==18.9.1
fastapi==0.110.1
fastcore==1.5.29

feedparser==6.0.10
ffmpy==0.3.2
filelock==3.13.4
filetype==1.2.0


flask-ngrok==0.0.25
flatbuffers==24.3.25
fonttools==4.25.0
fpdf==1.7.2
frozendict==2.4.2

fs==2.4.16
fsspec==2023.10.0

gast==0.5.4

geomet==0.2.1.post1
gguf==0.6.0
ghapi==1.0.5
ghp-import==2.1.0



google-api-core==2.18.0
google-auth==2.26.1
google-auth-oauthlib==1.2.0
google-pasta==0.2.0
googleapis-common-protos==1.63.0
gradio==4.26.0
gradio_client==0.15.1

groq==0.5.0
grpcio==1.60.0
h11==0.14.0



html5lib==1.1
httpcore==1.0.5
httptools==0.6.1
httpx==0.27.0
huggingface-hub==0.19.4
humanfriendly==10.0


idna==3.7

img2pdf==0.5.1

importlib_resources==6.4.0

inflection==0.5.1


jeepney==0.8.0

jsonpatch==1.33
jsonpickle==3.0.4
jsonpointer==2.1


keras==2.15.0


knack==0.11.0
kubernetes==29.0.0
langchain==0.1.16
langchain-community==0.0.32
langchain-core==0.1.42
langchain-groq==0.1.2
langchain-openai==0.1.3
langchain-text-splitters==0.0.1
langchainhub==0.1.15
langdetect==1.0.9
langserve==0.1.0
langsmith==0.1.45

llama-index==0.10.29
llama-index-agent-openai==0.2.2
llama-index-cli==0.1.11
llama-index-core==0.10.29
llama-index-embeddings-openai==0.1.7
llama-index-indices-managed-llama-cloud==0.1.5
llama-index-legacy==0.9.48
llama-index-llms-openai==0.1.15
llama-index-multi-modal-llms-openai==0.1.5
llama-index-program-openai==0.1.5
llama-index-question-gen-openai==0.1.3
llama-index-readers-file==0.1.19
llama-index-readers-llama-parse==0.1.4
llama-parse==0.4.1
llamaindex-py-client==0.1.18
llmware==0.2.9

Markdown==3.3.7
markdown-it-py==3.0.0

marshmallow==3.21.1




mdurl==0.1.2

mergedeep==1.3.4
minio==7.2.5

mkdocs==1.4.3


mkl-service==2.4.0
ml-dtypes==0.2.0
mmh3==4.1.0
monotonic==1.6
more-itertools==10.2.0
mplcursors==0.5.3
mpmath==1.3.0
msal==1.28.0
msal-extensions==1.1.0

msrest==0.7.1
msrestazure==0.6.4

multitasking==0.0.11
munkres==1.1.4


ndg-httpsclient==0.5.1
nest-asyncio==1.6.0

ninja==1.11.1.1

numpy==1.26.4

nvidia-ml-py==11.525.150
oauthlib==3.2.2
ocr-nanonets-wrapper==1.1
onnxruntime==1.17.3
openai==1.19.0
opencensus==0.11.4
opencensus-context==0.1.3
opencensus-ext-azure==1.1.13
opencensus-ext-logging==0.1.1
opencv-python==4.9.0.80
opencv-python-headless==4.9.0.80
openllm==0.4.44
openllm-client==0.4.44
openllm-core==0.4.44
openpyxl==3.1.2
opentelemetry-api==1.24.0
opentelemetry-exporter-otlp-proto-common==1.24.0
opentelemetry-exporter-otlp-proto-grpc==1.24.0
opentelemetry-instrumentation==0.45b0
opentelemetry-instrumentation-aiohttp-client==0.41b0
opentelemetry-instrumentation-asgi==0.45b0
opentelemetry-instrumentation-fastapi==0.45b0
opentelemetry-proto==1.24.0
opentelemetry-sdk==1.24.0
opentelemetry-semantic-conventions==0.45b0
opentelemetry-util-http==0.45b0
opt-einsum==3.3.0
optimum==1.18.1
orjson==3.10.0
overrides==7.7.0
packaging==23.2

pandas-stubs==2.0.2.230605

pango==0.0.1
pangocffi==0.12.0

patsy==0.5.3
pdf2image==1.16.0
pdf2jpg==1.1
pdfminer.six==20231228
pdfplumber==0.11.0
peewee==3.17.2
pep8==1.7.1

pgvector==0.2.4

pikepdf==8.13.0
pillow==10.2.0
pip-requirements-parser==32.0.1
pip-tools==7.3.0

ply==3.11
portalocker==2.8.2
posthog==3.5.0

proto-plus==1.23.0
protobuf==3.20.3

py-cpuinfo==9.0.0
pyarrow==15.0.2
pyarrow-hotfix==0.6

pycurl==7.45.2
pydantic==2.7.0
pydantic_core==2.18.1
pydash==8.0.0
pydeck==0.8.1b0
PyDispatcher==2.0.5

pydub==0.25.1
pydyf==0.9.0


Pygments==2.17.2

pyls-spyder==0.4.0
pymilvus==2.4.0
pymongo==4.5.0

PyMuPDF==1.24.1
PyMuPDFb==1.24.1

pypdf==4.1.0
PyPDF2==3.0.1
pypdfium2==4.29.0
pyphen==0.14.0
PyPika==0.48.9
pyproject_hooks==1.0.0
PyQt5==5.15.7

PyQtWebEngine==5.15.4
pyreadline3==3.4.1


pytesseract==0.3.10

python-bidi==0.4.2
python-dateutil==2.9.0.post0
python-doctr==0.8.1
python-dotenv==1.0.1

python-lsp-jsonrpc==1.0.0

python-multipart==0.0.9

pywin32==305.1

PyYAML==6.0.1
pyyaml_env_tag==0.1

queuelib==1.5.0
rapidfuzz==3.8.1

replicate==0.25.1
requests==2.31.0

requests-oauthlib==1.3.1

rich==13.7.1

rsa==4.9

ruff==0.3.7

s3transfer==0.6.2
safetensors==0.4.2
schema==0.7.5

scikit-learn-intelex==20230426.121932
scipy==1.10.1

SecretStorage==3.3.3
semantic-version==2.10.0

sentence-transformers==2.2.2
sentencepiece==0.1.99

sgmllib3k==1.0.0
shapely==2.0.3
shellingham==1.5.4
shtab==1.7.1
simple-di==0.1.5

six==1.16.0

sniffio==1.3.1


SQLAlchemy==2.0.29
sse-starlette==2.1.0

starlette==0.37.2

streamlit==1.32.0
streamlit-chat==0.1.1
strictyaml==1.7.3
striprtf==0.0.26
svgwrite==1.4.3
sympy==1.12
tabula-py==2.9.0
tabulate==0.9.0
TBB==0.2
tenacity==8.2.3
tensorboard==2.15.1
tensorboard-data-server==0.7.2
tensorflow==2.15.0
tensorflow-estimator==2.15.0
tensorflow-intel==2.15.0
tensorflow-io-gcs-filesystem==0.31.0
termcolor==2.4.0
tiktoken==0.6.0
timm==0.9.16
tokenizers==0.15.0
tomlkit==0.12.0
torch==2.1.2
torchvision==0.16.2
tqdm==4.66.2
transformers==4.39.3
trl==0.8.5
typer==0.12.3
types-pytz==2024.1.0.20240203
types-requests==2.31.0.20240406
typing-inspect==0.9.0
typing_extensions==4.11.0
tyro==0.8.3
uvicorn==0.29.0
virtualenv==20.25.1
watchfiles==0.21.0
weasyprint==61.2
webencodings==0.5.1
websockets==11.0.3
Werkzeug==3.0.1
wikipedia==1.4.0
Wikipedia-API==0.6.0
word2number==1.1
wordcloud==1.9.3
yfinance==0.2.38
zopfli==0.2.3
zstandard==0.19.0
